/*
@media only screen and (min-width: 0px) {*/

.Container {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 5% 90% 5%;
}

.Container-img{
    grid-column:2;
    grid-row:2;
    display:grid;
    grid-template-columns: repeat(10,1fr);
}

.Container-title{
    grid-column:2;
    grid-row:1;
}

.Container-graph{
    grid-column: 2;
    grid-row: 3;
    display:grid;
    grid-template-columns: repeat(52, 1fr);
    grid-template-rows: 85% 15%;
    align-items: end;
}
.graph-label{
    grid-column:1/52;
    grid-row:2;
    display:grid;
    grid-template-columns: repeat(52, 1fr);
    grid-template-rows: :1fr;
}

:root{
    --bgr: red;
    --bgd: blue;
    --bgo: green;
}

.Container-img--Donkey {
    grid-column:1/span 10;
    grid-row:1;
    align-items:end;
    -webkit-animation: mymove 50s infinite alternate;
}

@-webkit-keyframes mymove {
  0% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(400px, 0);
  }
  
  80% {
    transform: translate(800px, 0);
  }
}

.Container-img--Elephant {
    grid-column:1/span 10;
    grid-row:1;
    align-items:end;
    -webkit-animation: mymoves 50s infinite alternate;
}

@-webkit-keyframes mymoves {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(200px, 0);
  }

  65% {
    transform: translate(400px, 0);
  }
  
  80% {
    transform: translate(770px, 0);
  }
}


body {
    
    background-image: linear-gradient(to right, white, lightpink, lightblue); */

}


.Container-img--title {
    grid-row: 1;
    grid-column:3;
}

.bar:nth-child(3n-2) {

    background-color: var(--bgr);
}

.bar:nth-child(3n-1) {
    background-color: var(--bgd);
}

.bar:nth-child(3n) {
    background-color: var(--bgo);
}


.graph--D2016 {
    grid-column: 46;
    grid-row:1;
    background-color: var(--bgd);
}
.graph--I2016 {
    grid-column: 47 ;
    grid-row:1;
    background-color: var(--bgo);
}

.graph--C1972 {
    grid-column: 1;
    grid-row: 2;
    align-items:end;
}
.graph--C1976 {
    grid-column: 5;
    grid-row: 2;
    align-items:end;
}
.graph--C1980 {
    grid-column: 9;
    grid-row: 2;
    align-items:end;
}
.graph--C1984 {
    grid-column: 13;
    grid-row: 2;
    align-items:end;
}
.graph--C1988 {
    grid-column: 17;
    grid-row: 2;
    align-items:end;
}

.graph--C1992 {
    grid-column: 21;
    grid-row: 2;
    align-items:end;
}

.graph--C1996 {
    grid-column: 25;
    grid-row: 2;
    align-items:end;
}
.graph--C2000 {
    grid-column: 29;
    grid-row: 2;
    align-items:end;
}
.graph--C2004 {
    grid-column: 33;
    grid-row: 2;
    align-items:end;
}
.graph--C2008 {
    grid-column: 37;
    grid-row: 2;
    align-items:end;
}

.graph--C2012 {
    grid-column: 41;
    grid-row: 2;
    align-items:end;
}

.graph--C2016 {
    grid-column: 45;
    grid-row: 2;
    align-items:end;
}


/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

.dropdown-content2 a:hover {background-color: #ddd}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

